@import "../../styles/abstracts/variables";

.middlefirst {
  display: flex;
  align-items: center;
  max-width: 1280px;
  width: 100%;
  height: max-content;
  padding: 1.5rem;
  margin: auto;

  @include breakpoint("<md") {
    transition: all 0.1s ease;
    flex-direction: column;
    align-items: center;
  }

  &__left {
    width: fit-content;
    height: max-content;

    &__heading {
      color: $color-main-dark;
      margin-bottom: 3rem;
      font-size: 30px;
      font-weight: 700;
    }
  }

  &__img {
    width: 45rem;

    @media screen and (max-width: 1120px) {
      transition: all 0.1s ease;
      width: 35rem;
    }
    @include breakpoint("<md") {
      transition: all 0.1s ease;
      margin-top: 2rem;
      width: 90%;
    }
  }
}
