@import "../../styles/abstracts/variables";


//small companent

//first

.firstsmall {
  display: flex;
  width: max-content;
  height: max-content;
  margin: 0.5rem;

  @include breakpoint("<=tab") {
    transition: all 0.1s ease;
    flex-direction: column;
    margin: auto;
    width: 75%;
    margin-bottom: 2rem;
  }

  &__icon {
    width: 4rem;
    height: max-content;
    color: $color-text-primary;
    margin-right: 1rem;
    margin-top: 0.5rem;
  }

  &__section {
    width: fit-content;
    height: max-content;
    &__title {
      font-size: 18px;
      color: $color-text-primary;
      margin-bottom: 0.5rem;
      height: max-content;
    }
    &__text {
      height: max-content;
      color: $color-text-light;
      font-size: 0.9rem;
      font-weight: 400;
      line-height: 1.8;
    }
  }
}

//second

.middlefirstsmall {
  display: flex;
  width: fit-content;
  height: max-content;
  margin-bottom: 3rem;
  margin-right: 7vw;

  &__img {
    width: 3rem;
    height: max-content;
    margin-right: 1rem;
  }
  &__section {
    width: fit-content;
    height: max-content;
    &__title {
      font-size: 18px;
      color: $color-main-dark;
      margin-bottom: 0.5rem;
      height: max-content;
    }
    &__text {
      height: max-content;
      color: $color-main-dark;
      font-size: 0.9rem;
      font-weight: 400;
      line-height: 1.8;
    }
  }
}

//third

.middlethirdsmall {
  display: flex;
  width: fit-content;
  height: max-content;

  @include breakpoint("<=tab") {
    transition: all 0.1s ease;
    width: 90%;
    margin-bottom: 2rem;
  }
}
