@import "../../styles/abstracts/variables";


// passing classes

//first

.firstbig {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  @include breakpoint("<md") {
    transition: all 0.5s ease;
    width: 40rem;
    margin: auto;
  }
  @include breakpoint("<=tab") {
    transition: all 0.5s ease;
    margin: auto;
    width: 100%;
  }

  &__heading {
    color: $color-text-primary;
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 1rem;
    width: 90%;
    @include breakpoint("<md") {
      font-size: calc(1.375rem + 1.5vw);
      transition: all 0.5s ease;
      margin-bottom: 2rem;
    }
    @include breakpoint("<=tab") {
      transition: all 0.5s ease;
      margin-bottom: 1rem;
    }
  }
  &__text {
    font: 400;
    color: $color-text-light;
    text-align: center;
    font-size: 16px;
    line-height: 1.8;
    width: 75%;
    margin-bottom: 2.5rem;
    @include breakpoint("<md") {
      transition: all 0.1s ease;
      margin-bottom: 3.5rem;
    }
  }

  &__button {
    color: $color-text-primary;
    width: max-content;
    height: max-content;
    padding: 15px 30px;
    border: 2px solid $color-button;
    border-radius: 5px;
    background-color: $color-button;
    font-weight: 400;
    font-size: 1.1rem;
    cursor: pointer;

    &:hover {
      background-color: inherit;
      border-color: $color-text-primary;
      transition: all 0.1s ease-in;
    }
  }
}

//second
.middlesecondbig {
  margin-right: 8vw;
  width: fit-content;
  height: max-content;

  @include breakpoint("<md") {
    transition: all 0.1s ease;
    width: 90%;
  }

  &__heading {
    color: $color-main-dark;
    margin-bottom: 1.5rem;
    font-size: 30px;
    font-weight: 700;
  }

  &__text {
    height: max-content;
    color: $color-main-dark;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.8;
  }

  &__button {
    color: $color-text-primary;
    width: max-content;
    height: max-content;
    margin-top: 2rem;
    padding: 15px 30px;
    border: 2px solid $color-button;
    border-radius: 5px;
    background-color: $color-button;
    font-weight: 400;
    font-size: 1.1rem;
    cursor: pointer;
  }
}
