@import "../../styles/abstracts/variables";


.current {
  opacity: 1 !important;
}

.slider {
  position: relative;
  max-width: 1280px;
  width: 100%;
  padding: 0 1rem;
  padding-top: 4rem;
  height: max-content;
  margin: auto;
  margin-bottom: 8rem;
  display: grid;
  place-items: center;
  box-sizing: border-box;

  @include breakpoint("md") {
    transition: all 0.1s ease;
    width: 100%;
  }


  &__checked{
    height: max-content;
    width: 100%;
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__arrow {
    width: 1.5rem;
    height: max-content;
    color: $color-main-dark;
    position: absolute;
    cursor: pointer;
  }

  &__img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $color-main-dark;
    width: fit-content;
    margin: 0 5vw;
    height: max-content;
    opacity: 0;
    transition: all 1.5s ease;

    &__photo {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      margin-bottom: 1rem;
      border: 5px solid $color-white;
      box-shadow: 0 15px 30px 0 rgb(0 0 0 / 10%);
    }
    &__heading {
      text-align: center;
      width: 90%;
      font-size: 16px;
      font-weight: 700;
      margin-bottom: 0.2rem;
    }
    &__subheading {
      color: gray;
      font-weight: 400;
      font-size: 0.9rem;
      margin: 0;
      padding: 0;
      margin-bottom: 2rem;
    }

    &__text {
      text-align: center;
      font-size: 20px;
      font-family: georgia, serif;
      font-style: italic;
      width: fit-content;
      margin: 0 8rem;
      line-height: 1.8;

      @include breakpoint("<md") {
        margin: 0 5vw;
      }
    }
  }
}

.prev {
  left: 2vw;
}

.next {
  right: 2vw;
}



// dots
.dot{
  box-sizing: border-box;
  width: 0.6rem;
  height: 0.6rem;
  margin-right: 1rem;
  border-radius: 50%;
  background-color: #e2e2e2;
  transition: all 0.1s ease;
  cursor: pointer;

}

.active{
  background-color: $color-button;
}